dify/datn-caption-workflow-v9.yml
app:
  description: Bản V9 Đơn Giản - Khắc phục hoàn toàn lỗi kẹt Node Code trên Dify Cloud. Không dùng Python Node. Xuất trực tiếp chuỗi chuẩn JSON.
  icon: ✍️
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: workflow
  name: DATN Caption Generator V9 (Stable)
  use_icon_as_answer_icon: false
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-llm-edge
      source: start-node
      sourceHandle: source
      target: caption-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: llm-end-edge
      source: caption-llm
      sourceHandle: source
      target: end-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Khai báo chủ đề và giọng điệu.
        selected: false
        title: Bắt đầu
        type: start
        variables:
        - label: Chủ đề / Từ khóa
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: topic
        - default: tự nhiên
          label: Giọng điệu
          max_length: 100
          options:
          - tự nhiên
          - hài hước
          - truyền cảm hứng
          - chuyên nghiệp
          - Gen Z
          - lãng mạn
          - học thuật
          required: false
          type: select
          variable: tone
      id: start-node
      position:
        x: 80
        y: 282
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Sinh caption. Có thể đổi model thoải mái.
        model:
          completion_params:
            max_tokens: 1024
            temperature: 0.7
            top_p: 0.9
          mode: chat
          name: gemini-1.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: sys01
          role: system
          text: "Bạn là Content Creator chuyên nghiệp tại Việt Nam.\n\n## Nhiệm vụ\nViết MỘT status mạng xã hội bằng tiếng Việt, đồng thời gợi ý hashtag phù hợp.\n\n## Quy tắc bắt buộc\n1. Caption phải xoay quanh ĐÚNG chủ đề được cung cấp.\n2. Độ dài: 100-200 từ.\n3. Câu đầu tiên phải liên quan trực tiếp đến chủ đề.\n4. Triển khai 2-3 ý liên quan, kết bằng 1 câu hỏi tương tác.\n5. Dùng 2-4 emoji tự nhiên.\n6. Gợi ý 5-8 hashtag ngắn, sát chủ đề.\n\n## Quy tắc định dạng\n- KHÔNG viết tiêu đề, nhãn \"Caption:\", \"Bài đăng:\", \"Dưới đây là status\".\n- KHÔNG dùng markdown (**, ##, ```).\n- KHÔNG giải thích biến topic/tone hay nhắc đến hệ thống AI.\n- Vào thẳng nội dung status, viết như một người dùng thật đang đăng bài.\n\n## Quy tắc giọng điệu\n- tự nhiên: nói chuyện bạn bè, gần gũi\n- hài hước: dí dỏm, bắt trend, vui nhộn\n- truyền cảm hứng: tích cực, động lực, ấm áp\n- chuyên nghiệp: lịch sự, chỉn chu, sắc sảo\n- Gen Z: trẻ trung, xen tiếng Anh, bắt trend\n- lãng mạn: mềm mại, tinh tế, cảm xúc\n- học thuật: sâu sắc, phân tích, chiêm nghiệm\n\n## Output Format (JSON only)\n{\"caption\": \"<nội dung status 100-200 từ>\", \"hashtags\": [\"#tag1\", \"#tag2\", \"#tag3\", \"#tag4\", \"#tag5\"]}\nTrả về DUY NHẤT JSON object, không thêm bất kỳ text nào khác."
        - id: usr01
          role: user
          text: "Chủ đề cần viết: {{#start-node.topic#}}\nGiọng văn: {{#start-node.tone#}}\n\nViết status mạng xã hội ngay bây giờ:"
        selected: true
        title: Sinh Caption + Hashtag
        type: llm
        variables: []
        vision:
          enabled: false
      id: caption-llm
      position:
        x: 400
        y: 282
      type: custom
    - data:
        desc: Xuất kết quả
        outputs:
        - value_selector:
          - caption-llm
          - text
          variable: text
        selected: false
        title: Kết thúc
        type: end
      id: end-node
      position:
        x: 720
        y: 282
      type: custom
