dify/datn-caption-workflow-v7.yml
app:
  description: Tự động viết caption cực mượt cho mạng xã hội. Bản V7 fix triệt để lỗi không nhận biến của Dify. Hỗ trợ tốt mọi Model AI (Claude, GPT, Gemini).
  icon: ✍️
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: workflow
  name: DATN Caption Generator V7 (Super Fix)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-llm-edge
      selected: false
      source: start-node
      sourceHandle: source
      target: caption-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-end-edge
      selected: false
      source: caption-llm
      sourceHandle: source
      target: end-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Khai báo chủ đề và giọng điệu.
        selected: false
        title: Bắt đầu
        type: start
        variables:
        - label: Chủ đề / Từ khóa
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: topic
        - default: tự nhiên
          label: Giọng điệu
          max_length: 100
          options:
          - tự nhiên
          - hài hước
          - truyền cảm hứng
          - chuyên nghiệp
          - Gen Z
          - lãng mạn
          - học thuật
          required: false
          type: select
          variable: tone
      height: 178
      id: start-node
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Sinh caption. Có thể đổi model thoải mái.
        model:
          completion_params:
            max_tokens: 1024
            temperature: 0.7
            top_p: 0.9
          mode: chat
          name: gemini-1.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: sys01
          role: system
          text: "Bạn là một Content Creator trẻ ở Việt Nam.\n\nLUẬT:\n1. Bắt buộc viết bằng tiếng Việt (100-200 từ).\n2. NỘI DUNG PHẢI XOAY QUANH ĐÚNG CHỦ ĐỀ.\n3. Cấm nhắc đến: trường học, đồ án, luận văn, bài tập, môn học. Đây là MXH giải trí.\n4. Cấm xuất ra các dòng như \"Caption:\", \"Dưới đây là status\". Hãy vào thẳng câu chữ.\n5. Dùng 3-4 emoji phù hợp."
        - id: usr01
          role: user
          text: "Chủ đề cần viết: {{sys_topic}}\nGiọng văn: {{sys_tone}}\n\nViết status mạng xã hội ngay bây giờ:"
        selected: true
        title: Sinh Caption
        type: llm
        variables:
        - value_selector:
          - start-node
          - topic
          variable: sys_topic
        - value_selector:
          - start-node
          - tone
          variable: sys_tone
        vision:
          enabled: false
      height: 131
      id: caption-llm
      position:
        x: 400
        y: 282
      positionAbsolute:
        x: 400
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: Xuất kết quả
        outputs:
        - value_selector:
          - caption-llm
          - text
          variable: caption
        selected: false
        title: Kết thúc
        type: end
      height: 115
      id: end-node
      position:
        x: 720
        y: 282
      positionAbsolute:
        x: 720
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -100
      y: 100
      zoom: 0.8
  rag_pipeline_variables: []
