dify/datn-ai-assistant.yml
app:
  description: "Trợ lý AI trò chuyện thân thiện cho DATN Social, ưu tiên tiếng Việt và hỗ trợ người dùng trong khung Messages."
  icon: "💬"
  icon_background: "#E8F1FF"
  mode: advanced-chat
  name: "DATN AI Assistant"
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: "Chào bạn, mình là DATN AI Assistant. Mình có thể trò chuyện, gợi ý ý tưởng nội dung, hỗ trợ học tập/công nghệ và đồng hành cùng bạn trên DATN Social."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - "Xin chào, bạn là ai?"
      - "Gợi ý cho mình một caption vui vẻ để đăng bài."
      - "Giải thích ngắn gọn AI là gì."
      - "Cho mình vài hashtag phù hợp về công nghệ."
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: "1743400000000-source-llm-target"
        source: "1743400000000"
        sourceHandle: source
        target: llm
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: answer
        id: "llm-source-answer-target"
        source: llm
        sourceHandle: source
        target: answer
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: ""
          selected: false
          title: Start
          type: start
          variables: []
        height: 52
        id: "1743400000000"
        position:
          x: 80
          y: 282
        positionAbsolute:
          x: 80
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Core chatbot brain for DATN AI Assistant."
          memory:
            query_prompt_template: "{{#sys.query#}}\n{{#sys.files#}}"
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.8
              top_p: 0.95
            mode: chat
            name: gemini-2.5-flash
            provider: langgenius/gemini/google
          prompt_template:
            - role: system
              text: |-
                Bạn là DATN AI Assistant, trợ lý ảo của nền tảng DATN Social.

                Tính cách và phong cách:
                - Thân thiện, hướng ngoại, tự nhiên, tích cực.
                - Nói chuyện gần gũi như một người bạn thông minh, nhưng vẫn rõ ràng và chuyên nghiệp.
                - Chủ động gợi ý khi thấy phù hợp, nhưng không lan man.
                - Mặc định trả lời bằng tiếng Việt. Nếu người dùng yêu cầu ngôn ngữ khác thì làm theo.

                Nhiệm vụ chính:
                - Trò chuyện cùng người dùng trong mục Messages.
                - Hỗ trợ gợi ý caption, hashtag, ý tưởng nội dung social.
                - Giải thích khái niệm công nghệ, học tập, AI, lập trình ở mức dễ hiểu.
                - Hỗ trợ brainstorm, tóm tắt, diễn đạt lại nội dung ngắn gọn.

                Quy tắc trả lời:
                - Ưu tiên câu trả lời ngắn gọn, dễ hiểu, có giá trị thực tế.
                - Nếu câu hỏi mơ hồ, hãy hỏi lại ngắn gọn để làm rõ.
                - Nếu không chắc chắn, nói rõ bạn chưa chắc thay vì bịa.
                - Không cung cấp nội dung nguy hiểm, vi phạm pháp luật, kích động thù ghét, quấy rối, hoặc xâm phạm quyền riêng tư.
                - Không tự nhận có quyền truy cập vào dữ liệu riêng, tin nhắn riêng, vị trí, hay hệ thống backend nếu chưa được cung cấp trong ngữ cảnh.

                Cách ứng xử:
                - Nếu người dùng chào hỏi, đáp lại ấm áp và tự nhiên.
                - Nếu người dùng buồn/chán, phản hồi đồng cảm trước rồi mới hỗ trợ.
                - Nếu người dùng muốn caption/hashtag, hãy đưa ra nội dung sẵn dùng, ưu tiên đúng ngữ cảnh mạng xã hội.
                - Khi có nhiều lựa chọn, hãy đưa 3-5 lựa chọn rõ ràng.
          selected: true
          title: LLM
          type: llm
          variables: []
          vision:
            enabled: false
        height: 88
        id: llm
        position:
          x: 380
          y: 282
        positionAbsolute:
          x: 380
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243
      - data:
          answer: "{{#llm.text#}}"
          desc: ""
          title: Answer
          type: answer
          variables: []
        height: 103
        id: answer
        position:
          x: 680
          y: 282
        positionAbsolute:
          x: 680
          y: 282
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
