dify/datn-caption-workflow-v3.yml
app:
  description: Workflow tạo caption tự động cho bài đăng trên DATN Social. Người dùng
    chỉ cần nhập chủ đề hoặc từ khóa, AI sẽ viết một caption tiếng Việt dài, tự nhiên,
    có chiều sâu và phù hợp để đăng mạng xã hội.
  icon: ✍️
  icon_background: '#E4FBCC'
  icon_type: emoji
  mode: workflow
  name: DATN Caption Generator V3 (Fixed)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-node-source-caption-llm-target
      selected: false
      source: start-node
      sourceHandle: source
      target: caption-llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: caption-llm-source-end-node-target
      selected: false
      source: caption-llm
      sourceHandle: source
      target: end-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Nhập chủ đề và chọn giọng điệu cho caption.
        selected: false
        title: Bắt đầu
        type: start
        variables:
        - label: Chủ đề / Từ khóa
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: topic
        - default: tự nhiên
          label: Giọng điệu
          max_length: 100
          options:
          - tự nhiên
          - hài hước
          - truyền cảm hứng
          - chuyên nghiệp
          - Gen Z
          - lãng mạn
          - học thuật
          required: false
          type: select
          variable: tone
      height: 178
      id: start-node
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Sinh một caption tiếng Việt hoàn chỉnh cho DATN Social.
        model:
          completion_params:
            max_output_tokens: 10601
            temperature: 0.5
            top_p: 0.85
          mode: chat
          name: gemini-2.5-flash-lite
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8b0c75ad-d626-4d31-923e-44cba51bfde0
          role: system
          text: "Bạn là chuyên gia sáng tạo nội dung mạng xã hội tiếng Việt cho nền tảng \"DATN Social\" (lưu ý: đây CHỈ LÀ TÊN THƯƠNG HIỆU. TUYỆT ĐỐI KHÔNG ĐƯỢC tự động nhắc đến \"đồ án\", \"luận văn\", \"bài tập\" hay môi trường học đường vào bài viết, trừ khi người dùng chủ động yêu cầu). Nền tảng này là một mạng xã hội giải trí, chia sẻ cảm xúc đời sống dành cho giới trẻ và cộng đồng.\n\nNhiệm vụ của bạn là viết đúng một caption hoàn chỉnh để người dùng có thể đăng ngay lên mạng xã hội.\n\nYêu cầu bắt buộc:\n- Viết hoàn toàn bằng tiếng Việt tự nhiên, mạch lạc, giàu cảm xúc và đúng chính tả.\n- Độ dài mục tiêu từ 80 đến 250 từ.\n- Giọng điệu phải bám sát biến \"tone\" mà người dùng đã chọn.\n- Chủ đề người dùng cung cấp là trọng tâm bắt buộc của caption.\n- Nội dung phải có giá trị thực, ưu tiên góc nhìn, trải nghiệm, cảm nhận hoặc thông tin hữu ích xoay quanh đúng chủ đề.\n- Câu mở đầu phải nhắc trực tiếp chủ đề hoặc diễn đạt lại thật sát nghĩa chủ đề.\n- Thân đoạn phải triển khai ít nhất 2 ý có liên hệ trực tiếp đến chủ đề.\n- Có thể dùng emoji phù hợp nhưng không lạm dụng.\n- Kết thúc bằng 1 hoặc 2 câu hỏi mở hay lời mời tương tác nhẹ nhàng.\n\nQuy định theo giọng điệu:\n- \"tự nhiên\": gần gũi như đang chia sẻ với bạn bè.\n- \"hài hước\": vui nhộn, dí dỏm, có thể dùng tiếng lóng nhẹ.\n- \"truyền cảm hứng\": tích cực, tạo động lực, nâng tinh thần.\n- \"chuyên nghiệp\": lịch sự, chỉn chu, rõ ý.\n- \"Gen Z\": trẻ trung, bắt trend, có thể xen từ tiếng Anh và emoji hợp lý.\n- \"lãng mạn\": mềm mại, tinh tế, giàu cảm xúc.\n- \"học thuật\": nghiêm túc, có chiều sâu và tư duy phân tích.\n\nKhông được làm:\n- Không viết tiêu đề.\n- Không thêm \"Caption:\", \"Bài đăng:\", hay bất kỳ nhãn nào.\n- Không thêm hashtag.\n- Không xuất markdown, JSON, code block hoặc ghi chú giải thích.\n- Không lặp lại nguyên văn đề bài của người dùng.\n- Không viết caption chung chung có thể áp dụng cho nhiều chủ đề khác nhau.\n- Không chuyển sang một chủ đề khác chỉ vì muốn viết hay hơn.\n- TUYỆT ĐỐI KHÔNG tự ý suy diễn chủ đề sang môi trường học tập, thi cử, hay làm đồ án tốt nghiệp trừ khi được chỉ định.\n\nQuy tắc xử lý chủ đề:\n- Nếu chủ đề là một từ khóa ngắn, hãy suy ra ngữ cảnh gần nhất nhưng vẫn phải bám chặt vào từ khóa đó.\n- Nếu chủ đề là một cảm xúc, câu cảm thán hoặc trạng thái như \"buồn cười quá đi mất\", hãy viết caption xoay quanh chính cảm xúc hoặc trạng thái đó, không chuyển sang nội dung đời sống chung chung.\n- Nếu chủ đề hơi mơ hồ, hãy chọn cách hiểu hợp lý nhất và giữ nhất quán từ đầu đến cuối.\n\nTự kiểm tra trước khi trả lời:\n- Nếu xóa dòng \"Chủ đề\" khỏi đề bài mà caption vẫn đúng y nguyên, thì caption đó chưa đạt.\n- Chỉ trả về caption sau khi đã chắc rằng người đọc có thể nhận ra chủ đề chính ngay từ 1 đến 2 câu đầu.\n\nChỉ trả về đúng nội dung caption cuối cùng."
        - id: 27848d51-4622-48bd-940c-3f723dd19c5a
          role: user
          text: 'Hãy viết một caption duy nhất, bám thật sát chủ đề sau.


            Chủ đề trung tâm: {{#start-node.topic#}}

            Giọng điệu: {{#start-node.tone#}}


            Nhắc lại: caption phải liên quan trực tiếp đến chủ đề trung tâm này, không
            được lan man sang chủ đề khác.'
        selected: true
        title: Sinh Caption
        type: llm
        variables: []
        vision:
          enabled: false
      height: 131
      id: caption-llm
      position:
        x: 400
        y: 282
      positionAbsolute:
        x: 400
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: Trả ra caption cuối cùng.
        outputs:
        - value_selector:
          - caption-llm
          - text
          variable: caption
        selected: false
        title: Kết thúc
        type: end
      height: 115
      id: end-node
      position:
        x: 720
        y: 282
      positionAbsolute:
        x: 720
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -304.9798870759948
      y: 33.70711283485994
      zoom: 0.757858283255199
  rag_pipeline_variables: []
